name: Publish package

on:
  create:
    tags:
      - '*'
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish Package
        run: GITHUB_USER=${{ secrets.USER }} GITHUB_TOKEN=${{ secrets.TOKEN }} PACKAGE_VERSION=${ GITHUB_REF#refs/tags/ } ./gradlew publish