name: Publish package

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - name: Exit if not on master branch
        if: endsWith(github.ref, 'master') == false
        run: exit 0

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up gradle
        uses: gradle/gradle-build-action@v2

      - name: Publish Package
        run: GITHUB_USER=${{ secrets.USER }} GITHUB_TOKEN=${{ secrets.TOKEN }} PACKAGE_VERSION=$GITHUB_REF_NAME ./gradlew publish